[default]
AIRFLOW_UID=50000

# Source Database
DB_SOURCE_HOST=rc1b-uh7kdmcx67eomesf.mdb.yandexcloud.net
DB_SOURCE_PORT=6432
DB_SOURCE_NAME=playground_mle_20260729_1a551ccfe6
DB_SOURCE_USER=mle_20260729_1a551ccfe6_freetrack
DB_SOURCE_PASSWORD=your_source_db_password

# Destination Database
DB_DESTINATION_HOST=rc1b-uh7kdmcx67eomesf.mdb.yandexcloud.net
DB_DESTINATION_PORT=6432
DB_DESTINATION_NAME=playground_mle_20260729_1a551ccfe6
DB_DESTINATION_USER=mle_20260729_1a551ccfe6_freetrack
DB_DESTINATION_PASSWORD=your_destination_db_password

# S3
S3_BUCKET_NAME=s3-student-mle-20260729-1a551ccfe6-freetrack
AWS_ACCESS_KEY_ID=your_access_key_id
AWS_SECRET_ACCESS_KEY=your_secret_access_key
